<html>
  <head>
    <title>sGaming.pl - Zarządzanie kontem</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="lib/axios.min.js"></script>
    <style>
      #spawn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <div v-show="showSpawner" id="spawn">
		<audio id="audio" controls loop hidden>
				<source src="music/music.ogg" type="audio/ogg">
			</audio>
      <div  id="double">
        <div v-if="showFaction">
          <h1 style="color: white; margin-bottom: 85px">
            Wybierz służbę mundurową w której chciałbyś zagrać
          </h1>
          <div class="ui cards">
            <img
			@mouseover="changeText('Fire Department')"
			@mouseleave="changeText(' ')"
              class="faction"
              src="images/fd.png"
              @click="showSelection('fd')"
            />
            <img
              class="faction"
			  @mouseover="changeText('Medical Center')"
			  @mouseleave="changeText(' ')"
              src="images/md.png"
              @click="showSelection('md')"
            />
            <img
              class="faction"
			  @mouseover="changeText('Police Department')"
			  @mouseleave="changeText(' ')"
              src="images/pd.png"
              @click="showSelection('pd')"
            />
			<img
			class="faction"
			@mouseover="changeText('Cywil')"
			@mouseleave="changeText(' ')"
			src="images/civil.png"
			@click="showSelection('civil')"
		  />
          </div>
		  <div style=" margin-top:85px;height:40px;">
		  	<h1 style="color:white;" id="FactionNameText">{{ factionName }}</h1>
		</div>
        </div>
		<h1
          v-if="showDepartment && faction == 'civil'"
          style="color: white; margin-bottom: 85px"
        >
          Wybierz miejsce w którym chciałbyś się pojawić
        </h1>
        <div v-if="showDepartment && faction == 'civil'" class="ui cards">
          <div class="card">
            <div class="content">
              <div class="header">Los Santos</div>
              <div class="meta"></div>
              <div class="description">Centrum Vinewood</div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <button class="ui green button" @click="spawnPlayer(4,1)">
                  Wybierz
                </button>
              </div>
            </div>
          </div>
		  <div class="card">
            <div class="content">
              <div class="header">Los Santos</div>
              <div class="meta"></div>
              <div class="description">Plaża Vespucci</div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <button class="ui green button" @click="spawnPlayer(4,2)">
                  Wybierz
                </button>
              </div>
            </div>
          </div>
		  <div class="card">
            <div class="content">
              <div class="header">Los Santos</div>
              <div class="meta"></div>
              <div class="description">Legion Square</div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <button class="ui green button" @click="spawnPlayer(4,3)">
                  Wybierz
                </button>
              </div>
            </div>
          </div>
		  <div class="card">
            <div class="content">
              <div class="header">Paleto Bay</div>
              <div class="meta"></div>
              <div class="description">Casabel Avenue</div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <button class="ui green button" @click="spawnPlayer(4,4)">
                  Wybierz
                </button>
              </div>
            </div>
          </div>
		  <div class="card">
            <div class="content">
              <div class="header">Grapeseed</div>
              <div class="meta"></div>
              <div class="description">Grapeseed Avenue</div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <button class="ui green button" @click="spawnPlayer(4,5)">
                  Wybierz
                </button>
              </div>
            </div>
          </div>
		  <div class="card">
            <div class="content">
              <div class="header">Sandy Shores</div>
              <div class="meta"></div>
              <div class="description">Panorama Drive</div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <button class="ui green button" @click="spawnPlayer(4,6)">
                  Wybierz
                </button>
              </div>
            </div>
          </div>
        </div>
        <h1
          v-if="showDepartment && faction == 'fd'"
          style="color: white; margin-bottom: 85px"
        >
          Wybierz departament w którym chciałbyś rozpocząć grę
        </h1>
        <div v-if="showDepartment && faction == 'fd'" class="ui cards">
          <div class="card">
            <div class="content">
              <img class="right floated mini ui image" src="images/lsfd.png" />
              <div class="header">Los Santos Fire Department</div>
              <div class="meta"></div>
              <div class="description"></div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <button class="ui green button" @click="spawnPlayer(3,1)">
                  Wybierz
                </button>
              </div>
            </div>
          </div>
        </div>

		<h1
		v-if="showDepartment && faction == 'md'"
		style="color: white; margin-bottom: 85px"
	  >
		Wybierz departament w którym chciałbyś rozpocząć grę
	  </h1>
	  <div v-if="showDepartment && faction == 'md'" class="ui cards">
		<div class="card">
		  <div class="content">
			<img class="right floated mini ui image" src="images/lsmc.png" />
			<div class="header">Los Santos Medical Center</div>
			<div class="meta"></div>
			<div class="description"></div>
		  </div>
		  <div class="extra content">
			<div class="ui two buttons">
			  <button class="ui green button" @click="spawnPlayer(2,1)">
				Wybierz
			  </button>
			</div>
		  </div>
		</div>
		<div class="card">
		  <div class="content">
			<img class="right floated mini ui image" src="images/ssmc.png" />
			<div class="header">Sandy Shores Medical Center</div>
			<div class="meta"></div>
			<div class="description"></div>
		  </div>
		  <div class="extra content">
			<div class="ui two buttons">
			  <button class="ui green button" @click="spawnPlayer(2,2)">
				Wybierz
			  </button>
			</div>
		  </div>
		</div>
		<div class="card">
		  <div class="content">
			<img class="right floated mini ui image" src="images/pbmc.png" />
			<div class="header">Paleto Bay Medical Center</div>
			<div class="meta"></div>
			<div class="description"></div>
		  </div>
		  <div class="extra content">
			<div class="ui two buttons">
			  <button class="ui green button" @click="spawnPlayer(2,3)">
				Wybierz
			  </button>
			</div>
		  </div>
		</div>
	  </div>

	  <h1
	  v-if="showDepartment && faction == 'pd'"
	  style="color: white; margin-bottom: 85px"
	>
	  Wybierz departament w którym chciałbyś rozpocząć grę
	</h1>
	<div v-if="showDepartment && faction == 'pd'" class="ui cards">
	  <div class="card">
		<div class="content">
		  <img class="right floated mini ui image" src="images/ls.png" />
		  <div class="header">Los Santos Police Department</div>
		  <div class="meta"></div>
		  <div class="description"></div>
		</div>
		<div class="extra content">
		  <div class="ui two buttons">
			<button class="ui green button" @click="spawnPlayer(1,1)">
			  Wybierz
			</button>
		  </div>
		</div>
	  </div>
	  <div class="card">
		<div class="content">
		  <img class="right floated mini ui image" src="images/bcso.png" />
		  <div class="header">Blaine County Police Department</div>
		  <div class="meta"></div>
		  <div class="description"></div>
		</div>
		<div class="extra content">
		  <div class="ui two buttons">
			<button class="ui green button" @click="spawnPlayer(1,2)">
			  Wybierz
			</button>
		  </div>
		</div>
	  </div>
	  <div class="card">
		<div class="content">
		  <img class="right floated mini ui image" src="images/sahp.png" />
		  <div class="header">San Andreas Highway Patrol</div>
		  <div class="meta"></div>
		  <div class="description"></div>
		</div>
		<div class="extra content">
		  <div class="ui two buttons">
			<button class="ui green button" @click="spawnPlayer(1,3)">
			  Wybierz
			</button>
		  </div>
		</div>
	  </div>
	</div>
	<div style="margin-top: 20px;" v-if="showDepartment">
		<div class="ui two buttons">
			<button class="ui orange button" @click="returnSelection()">Wstecz</button>
		</div>
	</div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
