<html>
  <head>
    <title>sGaming.pl - Zarządzanie kontem</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
	<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
  />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="lib/axios.min.js"></script>
  </head>
  <body>
    <div v-show="showHUD" id="hud">
		<div class="navbar" v-if="showAllData">

      <h5 v-if="isTalking"><i class="microphone icon white" style="color: #4fff8d;"></i></h5>
      <h5 v-if="!isTalking"><i class="microphone icon white"></i></h5>
			<h5><i class="building outline icon white"></i> {{ department }}</h5>
			<h5>{{ rank }}</h5>
      <h5>  </h5>
      <h5><a style="color:#4fff8d;padding:0;">$</a>{{ money }}</h5>
			<h5>  </h5>
			<div id="xpBar" class="ui blue tiny indicating progress" style="display:inline-block;width:30%;margin-bottom:0;margin-top:0;background:rgba(255,255,255,0.5);">
				<div class="bar"></div>
			</div>
			<h5>XP {{ xp }}/2000</h5>
      <h5 v-if="vehicle"><i class="icon white tachometer alternate"></i> {{ speed }} km/h</h5>
      <h5 v-if="vehicle && fuel>50"><a style="color:#4fff8d;padding:0;"><i style="color:white;" class="fas fa-gas-pump"></i> {{ fuel }}</a> l</h5>
      <h5 v-if="vehicle && fuel<50"><a style="color:rgb(255, 160, 79);padding:0;"><i style="color:white;" class="fas fa-gas-pump"></i> {{ fuel }}</a> l</h5>
      <h5 v-if="street == ''"><i class="icon white map marker alternate"></i> {{ zone }}</h5>
			<h5 v-else><i class="icon white map marker alternate"></i> {{ zone }}, {{ street }}</h5>
		</div>
    <div class="navbar" v-if="!showAllData">
      <h5 v-if="isTalking" style="margin-right: 300px !important;"><i class="microphone icon white" style="color: #4fff8d;"></i></h5>
      <h5 v-if="!isTalking" style="margin-right: 300px !important;"><i class="microphone icon white"></i></h5>
      <h5><a style="color:#4fff8d;padding:0;" style="margin-right:300px !important;">$</a>{{ money }}</h5>
      <h5 v-if="vehicle"><i class="icon white tachometer alternate"></i> {{ speed }} km/h</h5>
      <h5 v-if="vehicle && fuel>50"><a style="color:#4fff8d;padding:0;"><i style="color:white;" class="fas fa-gas-pump"></i> {{ fuel }}</a> l</h5>
      <h5 v-if="vehicle && fuel<50"><a style="color:rgb(255, 160, 79);padding:0;"><i style="color:white;" class="fas fa-gas-pump"></i> {{ fuel }}</a> l</h5>
      <h5 v-if="street == ''" style="right:0; position: absolute;"><i class="icon white map marker alternate"></i> {{ zone }}</h5>
			<h5 v-else style="right:0; position: absolute;"><i class="icon white map marker alternate"></i> {{ zone }}, {{ street }}</h5>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
