
body {
	background:unset !important;
}
.navbar {
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	left:0;
	height:1.8%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

.navbar h5 {
	  margin-top: 0;
	  display:inline-block;
	  margin-right:50px;
	  color: white;
}